@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#f64050;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-bg:#eee;
   --border:.2rem solid rgba(0,0,0,.1);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none !important;
   text-transform: capitalize;
}


html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section {
   padding:6rem 15rem;
}

.link-btn {
    display: inline-block;
    padding:1rem 3rem;
    border-radius: .5rem;
    background-color: var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
    color:var(--white);
}

.link-btn:hover {
    background-color: white;
    color:#f64050;
}


.heading{
   font-size: 4rem;
   color:var(--black);
   text-transform: uppercase;
   font-weight: bolder;
   margin-bottom: 3rem;
}


.header{
   padding:1rem;
   border-bottom: var(--border);
}

.header .nav a{
    
   margin:0 1rem;
   font-size: 1.7rem;
   color:var(--black);
}

.header .nav a:hover{
   color:#f64050;
}

.home{
   background:url(../images/home.png) no-repeat;
   background-size: cover;
   background-position: center;
}

.home .content{
   text-align: center;
   padding:1rem;
}

.home .content h3{
   font-size: 6rem;
   text-transform: uppercase;
   color:white;
}

 .footer {
   background-color: #ffffff;
   padding: 20px;
 }
 
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:3rem;
 }
 
 .footer .box-container .box{
    text-align: center;
 }
 
 .footer .box-container .box h3{
    font-size: 2rem;
    margin:2rem 0;
    color:var(--black);
 }
 
 .footer .box-container .box p{
    font-size: 1.5rem;
    color:var(--light-color);
    text-transform: none;
 }


